<div class="teaser-container" id="teaser">
	<div class="image-container" id="header-image">
		<img src="assets/images/cytosplore.png" alt="Cytosplore Logo" id="cytosplore-logo">
	</div>
</div>

<hr>

<div class="cytosplore" id="cytosplore">
	<div class="content-wrapper">
		<h1>Cytosplore</h1>
		<div class="section">
			<p>
				Cytosplore is an interactive visual analysis system for understanding how the immune system works.
				The goal of the analysis framework is to provide a clear picture of the immune systems cellular composition and the cells’ corresponding properties and functionality.
				Cytosplore is targeted at the analysis of mass cytometry (CyTOF) data.
				Mass cytometry is a novel technique to determine the properties of single-cells with unprecedented detail.
				This amount of detail allows for much finer differentiation but also comes at the cost of more complex analysis.
				Cytosplore incorporates state-of-the art clustering and dimensionality reduction techniques,
				such as Approximated-tSNE (up to 100x faster than standard t-SNE without loss in precision) and a custom implementation of the
				SPADE clustering algorithm. Cytosplore implements progressive visual analytics and visualization techniques to provide a highly engaging
				user experience through direct feedback and linked views. <a href="#get">Try Cytosplore</a> yourself and <a href="#get">sign up</a> for our mailing list for latest news.
			</p>
			<p>
					<a href="#get"><img src="assets/images/to-download.png" alt="Download" id="download-top"></a>
			</p>
		</div>
		<div class="section">
			<iframe id="actionvideo" src="https://player.vimeo.com/video/161594269?byline=0&amp;portrait=0" width="80%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	</div>
</div>

<hr/>

<div class="cytosplore" id="team">
	<div class="content-wrapper">
		<h1>Team</h1>
		<div class="section">
		<br/>
			<div id="portrait-container">
				<a href="http://www.thomashollt.com" target="_blank_">
					<div class="portrait" id="portrait-th">
						<span class="popover above">
						<span class="portrait-name">
							Thomas H&ouml;llt
						</span><hr>
						<span class="portrait-text">
							TU Delft / LUMC <br/> Lead Developer/Project Liaison
						</span>
						</span>
					</div>
				</a>
				<a href="http://nicola17.github.io" target="_blank">
				<div class="portrait" id="portrait-np">
						<span class="popover above">
						<span class="portrait-name">
							Nicola Pezzotti
						</span><hr>
						<span class="portrait-text">
							TU Delft <br/> Algorithms Research
						</span>
						</span>
					</div>
				</a>
				<a href="https://www.linkedin.com/in/vincent-van-unen-bb719747" target="_blank">
				<div class="portrait" id="portrait-vvu">
						<span class="popover above">
						<span class="portrait-name">
							Vincent van Unen
						</span><hr>
						<span class="portrait-text">
							LUMC <br/> Immunology Research
						</span>
						</span>
					</div>
				</a>
				<a href="https://www.lumc.nl/org/radiologie/medewerkers/1201120319322222" target="_blank">
				<div class="portrait" id="portrait-je">
						<span class="popover above">
						<span class="portrait-name">
							Jeroen Eggermont
						</span><hr>
						<span class="portrait-text">
							LUMC <br/> Development
						</span>
						</span>
					</div>
				</a>
				<a href="https://graphics.tudelft.nl/julian-thijssen/" target="_blank">
				<div class="portrait" id="portrait-jt">
						<span class="popover above">
						<span class="portrait-name">
							Julian Thijssen
						</span><hr>
						<span class="portrait-text">
							TU Delft <br/> Development
						</span>
						</span>
					</div>
				</a>
				<a href="https://www.lumc.nl/over-het-lumc/hoo/koning" target="_blank">
				<div class="portrait" id="portrait-fk">
						<span class="popover above">
						<span class="portrait-name">
							Frits Koning
						</span><hr>
						<span class="portrait-text">
							LUMC <br/> PI Immunology
						</span>
						</span>
					</div>
				</a>
				<a href="http://graphics.tudelft.nl/~eisemann" target="_blank">
				<div class="portrait" id="portrait-ee">
						<span class="popover above">
						<span class="portrait-name">
							Elmar Eisemann
						</span><hr>
						<span class="portrait-text">
							TU Delft <br/> PI CGV
						</span>
						</span>
					</div>
				</a>
				<a href="https://www.lumc.nl/org/radiologie/medewerkers/1008040000252222" target="_blank">
				<div class="portrait" id="portrait-bl">
						<span class="popover above">
						<span class="portrait-name">
							Boudewijn P.F. Lelieveldt
						</span><hr>
						<span class="portrait-text">
							LUMC <br/> PI LKEB
						</span>
						</span>
					</div>
				</a>
				<a href="https://graphics.tudelft.nl/anna-vilanova" target="_blank">
				<div class="portrait" id="portrait-av">
						<span class="popover above">
						<span class="portrait-name">
							Anna Vilanova
						</span><hr>
						<span class="portrait-text">
							TU Delft <br/> PI VAnPIRe
						</span>
						</span>
					</div>
				</a>
				<span class="stretch"></span>
			</div>
			<p>
				Join the team! We have open projects within the Cytosplore project including a project on classification of cellular expression data through dimensionality reduction.
				If you are interested in working with us on this or other projects involving biological visualization for your master thesis project at the TU Delft or LUMC,
				please contact <a href="mailto:T.Hollt-1@tudelft.nl">Thomas Höllt</a>, or <a href="mailt:A.Vilanova@tudelft.nl">Anna Vilanova</a> to discuss the possibilities.
			</p>
		</div>
	</div>
</div>

<hr>

<div class="publications" id="publications">
	<div class="content-wrapper">
		<h1>Publications &amp; Media</h1>
		<div class="section">
		<h2>Media</h2>
		The Cytosplore team was interviewed for an article in Medical Delta in December 2016: <a href="http://www.medicaldelta.nl/projects/cytosplore" target="_blank">Exploring new dimensions of the immune system.</a>
		<h2>Publications</h2>
		<div class="paper">
			<div class="paper-image">
				<a href="https://vimeo.com/161594269" class="lightbox" target="_blank"><img src="/assets/papers/cytosplore.jpg" alt="Cytosplore" class="paper-img right"></a>
			</div>
			<h3><span class="title">Cytosplore: Interactive Immune Cell Phenotyping for Large Single-Cell Datasets.</span>
		<span class="authors">Höllt, N. Pezzotti, V. van Unen, F. Koning, E. Eisemann, B. Lelieveldt, and A. Vilanova.</span>
				Computer Graphics Forum 2016.</h3>
			<div class="section" class="abstract">
				<p><b>Abstract:</b>
        In this work, we present Cytosplore, implementing an interactive workflow to analyze mass cytometry data in an integrated system,
				providing multiple linked views, showing different levels of detail and enabling the rapid definition of known and unknown cell types, based on mass cytometry (CyTOF).
				Cytosplore handles millions of cells, each represented as a high-dimensional data point,
				facilitates hypothesis generation and confirmation, and provides a significant speed up of the current workflow.</p>
			</div>
			<div class="paper-links">
				<div class="paper-link">
					<a href="http://www.thomashollt.com/assets/papers/hollt_eurovis_2016/eurovis16_Cytosplore_Interactive_Immune_Cell_Phenotyping_for_Large_Single-Cell_Datasets.pdf" target="_blank">
						<img src="assets/images/pdf.png" alt="" class="paper-link-img">
					</a>
				</div>
				<div class="paper-link">
					<a href="http://www.thomashollt.com/assets/papers/hollt_eurovis_2016/eurovis16_Cytosplore_Interactive_Immune_Cell_Phenotyping_for_Large_Single-Cell_Datasets_slides.pdf" target="_blank">
						<img src="assets/images/slides.png" alt="" class="paper-link-img">
					</a>
				</div>
				<div class="paper-link">
					<a href="http://dx.doi.org/10.1111/cgf.12893" target="_blank">
						<img src="assets/images/ieee.png" alt="" class="paper-link-img">
					</a>
				</div>
			</div>
			<br style="clear:left;">
		</div>
		<div class="paper">
			<div class="paper-image">
				<img src="/assets/papers/tvcg_np_2017.jpg" alt="A-tSNE" class="paper-img left">
			</div>
			<h3><span class="title">Approximated and User Steerable tSNE for Progressive Visual Analytics.</span>
			<span class="authors">N. Pezzotti, B.P.F. Lelieveldt, L. van der Maaten, T. Höllt, E. Eisemann, and A. Vilanova.</span>
				Transactions on Computer Graphics and Visualization 2017.</h3>
			<div class="section" class="abstract">
				<p><b>Abstract:</b>
        We introduce a controllable tSNE approximation (A-tSNE), which trades off speed and accuracy, to enable interactive data exploration.
				We offer real-time visualization techniques, including a density-based solution and a Magic Lens to inspect the degree of approximation.
				With this feedback, the user can decide on local refinements and steer the approximation level during the analysis.
				We demonstrate our technique with several datasets.</p>
			</div>
			<div class="paper-links">
				<div class="paper-link">
					<a href="http://www.thomashollt.com/assets/papers/pezzotti_tvcg_2017/tvcg16_approximated_and_user_steerable_tSNE_for_progressive_visual_analytics.pdf" target="_blank">
						<img src="assets/images/pdf.png" alt="" class="paper-link-img">
					</a>
				</div>
				<div class="paper-link">
					<a href="http://dx.doi.org/10.1109/TVCG.2016.2570755" target="_blank">
						<img src="assets/images/ieee.png" alt="" class="paper-link-img">
					</a>
				</div>
			</div>
			<br style="clear:right;">
		</div>
		<div class="paper">
			<div class="paper-image">
				<img src="/assets/papers/immunity_vvu_2016.jpg" alt="Immunity" class="paper-img right">
			</div>
			<h3><span class="title">Mass Cytometry of the Human Mucosal Immune System Identifies Tissue- and Disease-Associated Immune Subsets.</span>
			<span class="authors">V. van Unen, N. Li, I. Molendijk, M. Temurhan, T. Höllt, A. E. van der Meulen-de Jong, H. W. Verspaget, M. L. Mearin, C. J. Mulder, J. van Bergen, B. P. F. Lelieveldt, F. Koning.</span>
				Immunity 2016.</h3>
			<div class="section" class="abstract">
				<p><b>Abstract:</b>
        Inflammatory intestinal diseases are characterized by abnormal immune responses and affect distinct locations of the gastrointestinal tract.
				Although the role of several immune subsets in driving intestinal pathology has been studied, a system-wide approach that simultaneously
				interrogates all major lineages on a single-cell basis is lacking.
				We used high-dimensional mass cytometry to generate a system-wide view of the human mucosal immune system in health and disease ...</p>
			</div>
			<div class="paper-links">
				<div class="paper-link">
					<a href="http://dx.doi.org/10.1016/j.immuni.2016.04.014" target="_blank">
						<img src="assets/images/ieee.png" alt="" class="paper-link-img">
					</a>
				</div>
			</div>
			<br style="clear:left;">
		</div>
	</div>
	</div>
</div>

<hr>

<div class="get" id="get">
	<div class="content-wrapper">
		<h1>Get Cytosplore</h1>
		<div class="section">
			<p>
				At this moment, we provide limited early access to Cytosplore.
				To get a license for the early access program please fill out the form. Please use your institutional email address so we can get an idea where Cytosplore is being used for research. If you like you can also sign you up to our email newsletter. We promise we will not share your email. You can also simply <a href="mailto:license@cytosplore.org?subject=Cytosplore License">send us an email</a> with your name and institution.
				<br/>
				If you have any suggestions, problems, want to share your success stories or papers published using Cytosplore, we would love to get feedback! Please do not hesitate to <a href="mailto:feedback@cytosplore.org">get in touch</a>.
			</p>

			<p>
				<form method="POST" action="https://formspree.io/license@cytosplore.org">
					<div class="inputrow">
					  <input type="text" name="name" placeholder="Your Name ..." required class="left">
					  <input type="text" name="institution" placeholder="Your Institution ..." required class="center">
					  <input type="email" name="email" placeholder="Your email ..." required  class="right">
					</div>
				  <input type="hidden" name="_subject" value="Cytosplore" />
				  <textarea name="message" placeholder="Your Message ..." required></textarea>
					<div><input type="checkbox" name="newsletter" id="box"><label for="box">Keep me up to date with the latest Cytosplore developments.</label></div>
					<div class="inputrow">
					  <button type="submit" id="submitbt" class="center">Submit</button>
					</div>
				</form>
			</p>

			<p>
				Disclaimer: Cytosplore is free for academic and non-commercial use, however, if you use Cytosplore within the scope of a scientific article you must cite the original publication: T. Höllt, N. Pezzotti, V. van Unen, F. Koning, E. Eisemann, B. Lelieveldt, and A. Vilanova. <span class="middle-purple">Cytosplore: Interactive Immune Cell Phenotyping for Large Single-Cell Datasets.</span> <em>Computer Graphics Forum (Proceedings of EuroVis),</em> 35(3): pp. 171—180, 2016.
			</p>
			<p>
				<a href="download/win/1.0.1/install_cytosplore.exe"><img src="assets/images/download.png" alt="Download" id="download-top"></a>
			</p>
		</div>
	</div>
</div>
